*{
    box-sizing: border-box;
    font-family: 'Silkscreen',sans-serif;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1d0045;
}

#heading{
    text-align: center;
    color: goldenrod;
    font-size: 3.5vw;
}
#console{
    position: relative;
    margin: 0 auto;
    background-image: url("../img/grass.png");
    background-size: cover;
    height: 425px;
    width: 925px;
    padding: 0;
    box-sizing: border-box;
}
#head{
    position: absolute;
    z-index: 1;
    background-image: url("../img/head.png");
    margin: 0;
    height: 25px;
    width: 25px; 
}

#food{
    position: absolute;
    background-image: url("../img/food.png");
    margin: 0;
    height: 25px;
    width: 25px;
    top:200px;
    left:200px;
}

#pausebtn,#retry{
    display: none;
    z-index: 2;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 162px;
    left: 412px;
}
#pausebtn{
    background-image: url("../img/pause.png");
    cursor:pointer;
}
#retry{
    cursor: pointer;
    background-image: url("../img/retry.png");
}


.console_foot{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 925px;
}

.tail{
    background-image: url("../img/tail.png");
    position: absolute;
    height: 25px;
    width: 25px;
}


