*{
    box-sizing: border-box;
    font-family: 'Silkscreen',sans-serif;
}
html{
    background-image: linear-gradient(180deg, #000000, rgb(22, 2, 134));
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.heading{
    text-align: center;
    color: #b13500;
    padding: 5vh 0;
    font-size: 7vw;
}
.container{
    height: 70vh;
    width: 65vw;
    margin: 0 auto;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    background-color: #070224;
    height: 16rem;
    width: 13rem;
    margin: 0.6rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.card:hover{
    box-shadow: 5px 5px 3px 3px #07010d;
    transform: scale(1.05);
}

.card>img{
    flex: auto;
    max-width: 85%;
    max-height: 60%;
    border-radius: 7%;
}
a{
    text-decoration: none;
    height: min-content;
}
.title{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 25px;
    color: white;
}
